NYshariaCooperative/Service References/ServiceReference1/WCFSharia2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58038/WCFSharia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSC" />
  <xs:element name="insertMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceSC" minOccurs="0" name="daftar" nillable="true" type="q1:Daftarmember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertMemberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceSC" minOccurs="0" name="daftar" nillable="true" type="q2:Daftarmember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateMemberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPinjam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceSC" minOccurs="0" name="daftar" nillable="true" type="q3:PinjamDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPinjamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPinjamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePinjam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceSC" minOccurs="0" name="daftar" nillable="true" type="q4:PinjamDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePinjamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePinjamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>