NYshariaCooperative/Service References/ServicePinjam/ServicePinjam.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceSC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceSC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataPinjam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Angsuran" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gaji" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAnggota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JangkaPinjam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JumlahPinjam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataPinjam" nillable="true" type="tns:DataPinjam" />
</xs:schema>