NYshariaCooperative/Service References/ServicePinjam/ServicePinjam2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58038/ServicePinjam.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSC" />
  <xs:element name="datapinjam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceSC" minOccurs="0" name="pinjam" nillable="true" type="q1:DataPinjam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datapinjamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datapinjamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>